<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Servlets.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>Servlets.Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupServlet</servlet-name>
        <servlet-class>Servlets.GroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudViewServlet</servlet-name>
        <servlet-class>Servlets.StudViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudServlet</servlet-name>
        <servlet-class>Servlets.DeleteStudServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStudServlet</servlet-name>
        <servlet-class>Servlets.CreateStudServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudServlet</servlet-name>
        <servlet-class>Servlets.EditStudServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupServlet</servlet-name>
        <url-pattern>/GroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudViewServlet</servlet-name>
        <url-pattern>/StudViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudServlet</servlet-name>
        <url-pattern>/DeleteStudServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStudServlet</servlet-name>
        <url-pattern>/CreateStudServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudServlet</servlet-name>
        <url-pattern>/EditStudServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
